<!-- partial with post, comment, submit, and login links. if logged in already, has username, and logout link -->

<nav class ="navbar">
<ul>

  <li><a>href="/posts"</a><comments</li>
  <li>submit</li>
  <li>login</li>
  <li>signup</li>

</nav>
