







<% @last_twenty.each do |post| %>
<div class="post_card">
<p> <%= post.title %> </p>
 <p><%= post.content %> </p>
<p> <a href="<%= post.link %>">  <%= post.title %> </a></p>
</div>


<%end%>






