  <form method = "post" action="login">
  <input  type="text" name="signin[:username]">
  <input type="text" name=":signin[:password]"> 
  <input type="submit" > 
</form>


<form method = "post" action="signup">
  <input  type="text" name="signup[:username]">
  <input type="text" name="signup[:password]"> 
   <input type="submit" > 
</form>


