  

  <form class="new_post" method = "post" action="/posts/new">
  <input  type="text" placeholder="title" name="title">
  <input type="text" placeholder="content" name="content">
  <input type="text" placeholder="link"  name="link"> 
  <input type="submit" > 
</form>

